@import "../sass/variable.scss";
@import "../sass/mixins.scss";
@import "../sass/NFH.scss";
@import "./Animation.scss";

.start {

    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: 80px;
    
    @media only screen and (max-width: 1000px) {
        flex-wrap: wrap;

    }
    .start_img {
        width: 98%;
        
    }
    

    .start_txt {

        div {
            width: 86%;
            margin-left: 30px;

            h1 {
                text-align: center;
                font-weight: bold;
                line-height: 50px;

                @media only screen and (max-width: 1300px) {
                    font-weight: 500;
                    line-height: 40px;

                }

                @media only screen and (max-width: 600px) {
                    font-weight: 400;
                }

            }

            .start_txt_2 {
                font-size: 1.8rem;

                @media only screen and (max-width: 600px) {
                    font-size: 1em;
                }

                h1 {
                    color: $grey;
                }

            }

            img {
                margin: auto;
                display: flex;
                justify-content: center;
        }

        .start_txt_1 h1 {
            font-size: 1.7rem;
            color: $bleu;
        }

        .stert_btn button {
            @include btn(100%);
        }
    }
}

.sympt {
    .sympt_title h1 {
        margin: auto;
        text-align: center;
        font-size: 200%;
        color: $bleu;

        @media only screen and (max-width: 600px) {
            font-size: 190%;
        }

        @media only screen and (max-width: 600px) {
            font-size: 160%;
        }

    }

    .sympt_A {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: 30px auto;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }
    }

    .sympt_A_2,
    .sympt_A_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

}
//  test line
.test_line {
    display: flex;
    max-width: 40%;
    justify-content: space-between;
    margin: auto;

    @media only screen and (max-width: 700px) {
        max-width: 60%;


    }

    @media only screen and (max-width: 500px) {
        max-width: 75%;
    }
    .point_1,
    .point_2,
    .point_3 {
        margin: auto;
        margin-top: 100px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $bleuciel;
        display: flex;
        justify-content: center;
        align-items: center;
        .point_1_1,
        .point_2_2,
        .point_3_3 {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $bleu;
        }
    }
    .point_2,
    .point_3 {
        background-color: white;
    }
}

.information {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: $bleuciel;
    border-radius: 10px;

    .information_line {
        border-bottom: 3px solid $jeune;
        width: 240px;
        margin: auto;
    }
}

section {
    .info_str {
        .stert_btn{
            margin: 20px auto;
            width: 30%;
            @media only screen and (max-width: 500px) {
                width: 75%;
            }

        }

        button {
            @include btn(100%);

        }
    }
}

// tile line
.time_line {

    margin-bottom: 40px;

    .time_line_1 {

        margin: auto;
        width: 40%;
        height: 15px;
        background-color: $bleuciel;
        border-radius: 20px;

        @media only screen and (max-width: 700px) {
            width: 60%;
        }

        div {

            height: 15px;
            background-color: $bleu;
            border-radius: 20px;
            display: block;
            transition: 0.4s;
            animation: move 2s;
            animation-fill-mode: forwards;
        }
    }

}



// Question 1
.questions {
    padding: 30px;
 

    .question_1 {
        width: 60%;
        margin: auto;
        margin-top: -60px;
        text-align: center;
        color: $bleu;

        @media only screen and (max-width: 700px) {
            width: 90%;
            font-size: 15px;
        }
    }
    .input_Q{
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            width: 30%;
            height: 40px;
            border: 2px solid $bleuciel;
            border-radius: 10px;
            text-align: center;
            font-size: large;;
            font-family: 'Cairo', sans-serif;
            @media only screen and (max-width: 600px) {
                width: 50%;
                
            }
            &:hover{
                box-shadow: 0 0 0  1px $bleuciel;
                color: $bleu;
            }
        }

    }
}

.radio_G {
    width: 40%;
    margin: auto;

    @media only screen and (max-width: 700px) {
        width: 50%;

    }

    .option {
        position: relative;

        input {
            display: none;
        }

        label {
            font-size: 20px;
            cursor: pointer;
            color: $bleu;
            margin-left: 20px;
        }
    }

    .option label::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border: 4px solid $bleu;
        border-radius: 50%;
        left: -20px;
        top: 5px;

    }

    .option label::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background-color: $jeune;
        border-radius: 50%;
        left: -14px;
        top: 10.5px;
        opacity: 0;

    }

    .option input:checked~label::before {
        opacity: 1;

    }
}

.notiv {
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: $jeune;
    border-radius: 10px;
    margin: auto;

    @media only screen and (max-width: 500px) {
        width: 70%;

    }

}

// btns
.btns {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 50px;

    @media only screen and (max-width: 550px) {
        justify-content: space-between;

    }

    .btn-return button,
    .btn_next button {
        @include btn(120%);

        @media only screen and (max-width: 500px) {
            font-size: medium;
            width: 100%;

        }
    }
    .return{
        opacity: 0;
    }

  
}