@mixin btn($width) {
    width: $width;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: $bleu;
    color: white;
    font-family: 'Cairo', sans-serif;
    font-size: larger;
    cursor: pointer;
}
@mixin LG-btn($width, $weight) {
    width: $width;
    height: $weight;
    border: 2px solid $bleu;
    background: none;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Almarai', sans-serif;
    color: $bleu;
    
    
}