@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif; }

nav .container {
  background-image: url("../Assets/png/Merged bar-2.png");
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px; }

nav .navbar_logo img {
  height: 50px;
  margin-left: 30px; }

nav .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 50px;
  background-image: url("../Assets/png/Merged bar-1.png"); }
  nav .navbar .navbar_menu {
    display: flex;
    align-items: center; }
    nav .navbar .navbar_menu .navbar_link_1,
    nav .navbar .navbar_menu .navbar_link_2 {
      margin-right: 40px; }
      @media only screen and (max-width: 700px) {
        nav .navbar .navbar_menu .navbar_link_1,
        nav .navbar .navbar_menu .navbar_link_2 {
          margin-right: 26px; } }
      @media only screen and (max-width: 500px) {
        nav .navbar .navbar_menu .navbar_link_1,
        nav .navbar .navbar_menu .navbar_link_2 {
          margin-right: 20px; } }
      nav .navbar .navbar_menu .navbar_link_1 .navbar_link_1 a:active,
      nav .navbar .navbar_menu .navbar_link_2 .navbar_link_1 a:active {
        color: #0f6894; }
      nav .navbar .navbar_menu .navbar_link_1 .navbar_link_2 a:active,
      nav .navbar .navbar_menu .navbar_link_2 .navbar_link_2 a:active {
        color: #0f6894; }
      nav .navbar .navbar_menu .navbar_link_1 a,
      nav .navbar .navbar_menu .navbar_link_2 a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        color: black; }
        @media only screen and (max-width: 700px) {
          nav .navbar .navbar_menu .navbar_link_1 a,
          nav .navbar .navbar_menu .navbar_link_2 a {
            font-size: 18px; } }
        @media only screen and (max-width: 500px) {
          nav .navbar .navbar_menu .navbar_link_1 a,
          nav .navbar .navbar_menu .navbar_link_2 a {
            font-size: 15px; } }
    nav .navbar .navbar_menu .navbar_switch {
      margin-right: 60px; }
      @media only screen and (max-width: 500px) {
        nav .navbar .navbar_menu .navbar_switch {
          margin-right: 25px; } }
      @media only screen and (max-width: 500px) {
        nav .navbar .navbar_menu .navbar_switch {
          margin-right: 20px; } }
      nav .navbar .navbar_menu .navbar_switch button {
        width: 80px;
        height: 30px;
        border: 2px solid #0f6894;
        background: none;
        border-radius: 10px;
        font-weight: 500;
        font-family: 'Almarai', sans-serif;
        color: #0f6894; }

header {
  position: relative;
  top: 70px; }
  header div {
    height: auto;
    padding: 10px;
    background-color: #F4CF1B;
    margin: auto;
    text-align: center; }
    header div h3 {
      color: #0f6894;
      margin: auto;
      text-align: center; }
    header div p {
      color: black;
      margin: auto; }

.Recommandations {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0f6894;
  height: auto; }
  .Recommandations .Recommandations_title h1 {
    font-size: 30px;
    text-align: center;
    color: white; }
    @media only screen and (max-width: 600px) {
      .Recommandations .Recommandations_title h1 {
        font-size: 27px; } }
  .Recommandations .Recommandations_A {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 1000px) {
      .Recommandations .Recommandations_A {
        flex-direction: column;
        align-items: center;
        text-align: center; } }
    .Recommandations .Recommandations_A .Recommandations_text p {
      font-size: 20px;
      color: white; }
      @media only screen and (max-width: 600px) {
        .Recommandations .Recommandations_A .Recommandations_text p {
          font-size: 16px; } }
  .Recommandations .Recommandations_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px; }
    @media only screen and (max-width: 600px) {
      .Recommandations .Recommandations_contact {
        width: 150%; } }
    .Recommandations .Recommandations_contact div h1 {
      font-size: 30px;
      color: #F4CF1B;
      font-weight: bold; }
    .Recommandations .Recommandations_contact .Recommandations_contact_number {
      width: 60%;
      height: 55px;
      padding: 10px;
      background-color: #F4CF1B;
      border-radius: 10px;
      text-align: center; }
      @media only screen and (max-width: 600px) {
        .Recommandations .Recommandations_contact .Recommandations_contact_number {
          margin-bottom: 20px; } }
      .Recommandations .Recommandations_contact .Recommandations_contact_number a {
        text-decoration: none;
        font-size: 30px;
        margin: auto;
        font-weight: bold;
        color: #0f6894; }
        @media only screen and (max-width: 600px) {
          .Recommandations .Recommandations_contact .Recommandations_contact_number a {
            font-size: 26px; } }
    .Recommandations .Recommandations_contact .Recommandations_contact_site {
      margin-top: 30px; }
      @media only screen and (max-width: 600px) {
        .Recommandations .Recommandations_contact .Recommandations_contact_site {
          margin-top: -10px; } }
      .Recommandations .Recommandations_contact .Recommandations_contact_site a {
        text-decoration: none;
        font-size: 27px;
        color: white;
        border-bottom: 4px solid #F4CF1B; }
        @media only screen and (max-width: 600px) {
          .Recommandations .Recommandations_contact .Recommandations_contact_site a {
            font-size: 20px; } }

section .start_test {
  background-color: #96C5DC;
  padding: 5px; }
  section .start_test div {
    margin: auto;
    text-align: center; }
    section .start_test div h1 {
      text-align: center;
      font-size: 30px;
      color: #0f6894;
      font-weight: bold; }
      @media only screen and (max-width: 600px) {
        section .start_test div h1 {
          font-size: 24px; } }
  section .start_test div {
    margin-top: 20px; }
    section .start_test div button {
      width: 40%;
      height: 50px;
      border: none;
      border-radius: 10px;
      background-color: #0f6894;
      color: white;
      font-family: 'Cairo', sans-serif;
      font-size: larger;
      margin-bottom: 10px; }

footer .logo {
  margin: auto;
  text-align: center;
  margin-top: 20px; }

footer .footer_info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px; }
  footer .footer_info .footer_menu {
    margin-top: -60px; }
    footer .footer_info .footer_menu div {
      margin-top: 20px;
      text-align: center; }
      footer .footer_info .footer_menu div button {
        width: 100px;
        height: 40px;
        border: 2px solid #0f6894;
        background: none;
        border-radius: 10px;
        font-weight: 500;
        font-family: 'Almarai', sans-serif;
        color: #0f6894; }
      footer .footer_info .footer_menu div a {
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        color: black; }
        footer .footer_info .footer_menu div a:visited {
          color: #0f6894; }

footer .footer_contact {
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer .footer_contact div {
    margin-top: -15px; }
  footer .footer_contact .div_1 {
    color: #0f6894; }
    @media only screen and (max-width: 600px) {
      footer .footer_contact .div_1 {
        font-size: 13px; } }
  @media only screen and (max-width: 600px) {
    footer .footer_contact .div_2 {
      font-size: 15px;
      text-align: center; } }
  footer .footer_contact .div_4,
  footer .footer_contact .div_5 {
    color: #369D53; }

footer .footer_para {
  font-size: 16px;
  color: #7F7F7F;
  line-height: 40px;
  font-weight: 500; }
  @media only screen and (max-width: 1030px) {
    footer .footer_para {
      text-align: center;
      margin-top: -35px; } }

footer .bar {
  background-color: #0f6894;
  width: 100%;
  height: 30px;
  border-radius: 10px 10px 0 0; }

section .protéger_title {
  margin-top: 100px;
  text-align: center;
  color: #0f6894;
  font-size: 20px; }
  @media only screen and (max-width: 600px) {
    section .protéger_title {
      font-size: 15px; } }

section .protéger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  margin: 10px auto; }
  @media only screen and (max-width: 600px) {
    section .protéger {
      flex-direction: column; } }
  section .protéger div {
    width: 26%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: #0f6894; }
    @media only screen and (max-width: 600px) {
      section .protéger div {
        width: 40%; } }
    section .protéger div P {
      font-size: large; }
  section .protéger .img img {
    height: 110px; }
  section .protéger .img p {
    font-size: large; }

section .last {
  width: 25%;
  margin: -20px auto;
  text-align: center;
  color: #0f6894; }
  @media only screen and (max-width: 600px) {
    section .last {
      width: 70%; } }
  section .last p {
    font-size: large; }

section .information {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #96C5DC;
  margin-top: 50px; }
  @media only screen and (max-width: 800px) {
    section .information {
      flex-direction: column;
      justify-content: center; } }
  section .information .information_1 {
    width: 35%;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      section .information .information_1 {
        width: 67%; } }
    section .information .information_1 h1 {
      font-size: 30px;
      color: #0f6894; }
    section .information .information_1 h3 {
      color: #0f6894; }
  section .information .information_2 {
    width: 29%;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      section .information .information_2 {
        margin: 30px auto;
        width: 50%; } }
    @media only screen and (max-width: 545px) {
      section .information .information_2 {
        margin: 30px auto;
        width: 100%; } }
    section .information .information_2 a {
      text-decoration: none;
      color: white;
      padding: 20px;
      border-radius: 8px;
      background-color: #0f6894; }
    section .information .information_2 p {
      color: white;
      padding: 20px;
      width: 50%;
      border-radius: 8px;
      background-color: #0f6894;
      margin: auto; }

section .sympt_title h1 {
  margin: auto;
  text-align: center;
  font-size: 200%;
  color: #0f6894; }
  @media only screen and (max-width: 600px) {
    section .sympt_title h1 {
      font-size: 190%; } }
  @media only screen and (max-width: 600px) {
    section .sympt_title h1 {
      font-size: 160%; } }

section .sympt_A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 30px auto; }
  @media only screen and (max-width: 600px) {
    section .sympt_A {
      flex-direction: column; } }

section .sympt_A_2,
section .sympt_A_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center; }

.sympt {
  padding: 20px;
  margin-top: 50px; }
  .sympt .sympto {
    margin-top: 50px; }
    .sympt .sympto div {
      text-align: center;
      color: #0f6894; }
      .sympt .sympto div img {
        height: 120px; }
